<mat-card class="example-card" [formGroup]="stockEntryform">
    
      <div class="text-center p-4 fs-4">
        Stock-Entry
      </div>
 
    <mat-card-content>
        <mat-form-field>
            <mat-label>Distributor Name</mat-label>
            <input matInput formControlName="distributorId" readonly>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="productId" readonly>
          </mat-form-field>       
          <mat-form-field>
            <mat-label>Product Quantity</mat-label>
            <input matInput formControlName="productQuantity">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Selling Price</mat-label>
            <input matInput formControlName="sellingPrice">
          </mat-form-field>          
    </mat-card-content>
    <mat-card-footer>
        <div class="text-center p-2">
            <button  mat-raised-button color="primary" (click)="upate()">Update</button>
        </div>   
    </mat-card-footer>
  </mat-card>
