.example-card{
    width:40%; 
    margin: auto;
    top: 80px; 
    padding-bottom: 10px; 
}
.header{
    justify-content: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 5, 5);
}
mat-form-field{
    width:100%;
    margin-top: 25px;
}