<!-- <mat-card class="example-card">
    <mat-card-header >
       <div class="text-center">Admin Login</div>
    </mat-card-header>
    <form [formGroup]="adminLoginform">
    <mat-card-content>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error *ngIf="(adminLoginform.controls.username.touched ||adminLoginform.controls.username.dirty) && adminLoginform.controls.username.errors">
                <small *ngIf="adminLoginform.controls.username.errors.required">username required</small>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="(adminLoginform.controls.password.touched ||adminLoginform.controls.password.dirty) && adminLoginform.controls.password.errors">
                <small *ngIf="adminLoginform.controls.password.errors.required">password required</small>
            </mat-error>
          </mat-form-field>
    </mat-card-content>
    
    <mat-card-footer>
        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="adminLoginform.invalid" (click)="submit()">Submit</button>
        </div>   
    </mat-card-footer>
    </form>
  </mat-card> -->

  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="assets/images/s-pic2.jpg"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are At your service</h4>
                  </div>
  
                   <mat-card class="example-card">
    <mat-card-header >
       <div class="text-center"></div>
    </mat-card-header>
    <form [formGroup]="adminLoginform">
    <mat-card-content>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error *ngIf="(adminLoginform.controls.username.touched ||adminLoginform.controls.username.dirty) && adminLoginform.controls.username.errors">
                <small *ngIf="adminLoginform.controls.username.errors.required">username required</small>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="(adminLoginform.controls.password.touched ||adminLoginform.controls.password.dirty) && adminLoginform.controls.password.errors">
                <small *ngIf="adminLoginform.controls.password.errors.required">password required</small>
            </mat-error>
          </mat-form-field>
    </mat-card-content>
    
    <mat-card-footer>
        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="adminLoginform.invalid" (click)="submit()">Submit</button>
        </div>   
    </mat-card-footer>
    </form>
  </mat-card> 
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center ">
                <div class="">
                 
                   <img src="assets/images/s-pic3.avif"
                      style="width:538px ;height: 614px; border-radius: 0px 8px 8px 0px;" alt="logo"> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>