.example-card{
    width: 400px;
    height: 350px;
    margin: auto;
    top: 120px;
}
mat-card-header{
    color: rgb(42, 8, 4);
    background-color: rgb(199, 199, 197);
    height: 60px;
    font-size: 28px;
    justify-content: center; 
    
}
mat-form-field{
    width:100%;
    margin-top: 25px;
}
