.example-card{
    width: 90%;
    padding-bottom: 10px;
    margin-left: 0.9rem;
    top: 30px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: auto; 
    background: transparent;
}
.header{
    justify-content: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 5, 5);
}
mat-form-field{
    width:100%;
    margin-top: 25px;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 5, 5);
}
.ag-theme-alpine {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-weight: bolder;
    margin-left: 4.1rem;
    padding: 10px;
}
::ng-deep .ag-header-cell-label{
    color:rgb(84, 5, 5);
    padding: 10px;
}

::ng-deep .ag-cell{
    font-size: 17px;
    padding-left: 15px;
    
}

::ng-deep.mat-drawer-content{
    overflow: hidden;
}

 .container-fluid{
    // background: url('../../assets/images/s-pic3.avif');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;  
    background-image:linear-gradient(to right, rgb(236, 219, 220), rgb(204, 251, 241))
 }
 video{
    margin-top: 5rem;
    
 }









 
