.example-card{
    width: 90%; 
    margin: auto;
    top: 50px; 
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: transparent; 
}
.header{
    justify-content: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 5, 5);
}
mat-form-field{
    width:100%;
    margin-top: 25px;
}
.card{
    margin-left: 4rem;
    margin-top: 100px; 
    width: 90%;
    padding: 30px;
    height: 290px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: auto;
    
}

th{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 17px;
    color: rgb(84, 5, 5);
}
td{
    color:solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(84, 5, 5);
}


 .container-fluid{
//     background: url('../../assets/images/s-pic1.avif');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed; 
       background-image:linear-gradient(to right, rgb(164, 206, 180), rgb(155, 138, 172))  
 }

video{
    margin-top: 100px; 
    width: 100%;    
}

table{
    background: transparent;
}


  