<h1>Stock Details</h1>
<table class="table">
    <thead>
      <tr>
        <th >S.No</th>
        <th >Distributor Name</th>
        <th >Product Name</th>
        <th >Price</th>
        <th> Selling Price</th>
        <th >Product Quantity</th>
        <th text="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of viewstock; let i = index ">
        <th>{{i+1.}}</th>
        <td>{{v.distributor_details[0].distributor}}</td>
        <td>{{v.product_details[0].productName}}</td>
        <td>{{v.price}}</td>
        <td>{{v.sellingPrice}}</td>
        <td>{{v.productQuantity}}</td>
        <td>
          <div><button class="btn btn-primary" (click)="stockEdit(v)">Edit</button>
             <button class="btn btn-danger"  style="margin-left: 10px;" (click)="delete(v)">Delete</button></div> 
        </td>

      </tr>
    
      
     
    </tbody>
  </table>

   <div class="text-center p-5">
    <button class=" btn btn-primary " (click)="Register()">Register</button>
   </div>



  
